table {
  text-align: left;
  min-width: 900px;
}

td, th {
  padding: 5px;
  border: 1px solid black;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radio-container {
  display: flex;
  margin-bottom: 25px;
}

.radio {
  margin-right: 10px;
}

.search-bar {
  width: 100%;
  height: 30px;
  font-size: 18px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
}

.search-bar::placeholder {
  color: rgba(128, 128, 128, 0.288);
}